<div class="profile-page">
{{>nav}}
<h1>{{username}}</h1>

<div class="container-fluid events">
    <div class="row">
        <div class="col-12 card">
            <div class="card product">
                <div class="card-body">
                    <img class ="profile-image"src={{imageUrl}}>
                    <h3 class="card-title">About Me</h1>
                    <h3 class="card-body">First Name: {{firstName}}</h3>
                    <h3 class="card-body">Last Name: {{lastName}}</h3>
                    <h3 class="card-body">Date of birth: {{dob}}</h3>
                    <h3 class="card-body">Gender: {{gender}}</h3>
                    <h3 class="card-body">Star Sign: {{starSign}}</h3>
                    <h3 class="card-body">Hobbies: {{hobbies}}</h3>
                    <h3 class="card-body">Looking for: {{lookingFor}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
