{{>nav}}
<h1>{{username}}</h1>

<div class="container-fluid events">
    <div class="row">
        <div class="col-12 card">
            <div class="card product">
                <div class="card-body">
                    <img src={{imageUrl}}>
                    <h1 class="card-title">About Me</h1>
                    <h1 class="card-body">First Name: {{firstName}}</h1>
                    <h1 class="card-body">Last Name: {{lastName}}</h1>
                    <h1 class="card-body">Date of birth: {{dob}}</h1>
                    <h1 class="card-body">Gender: {{gender}}</h1>
                    <h1 class="card-body">Star Sign: {{starSign}}</h1>
                    <h1 class="card-body">Hobbies: {{hobbies}}</h1>
                    <h1 class="card-body">Looking for: {{lookingFor}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

