{{>nav}}
<div class="content">
  <div class="card">
    <div class="user-header">
      <img class="avatar" src={{imageUrl}}>
      <h1>{{username}}</h1>
    </div>
    <div class="table">
      <span class="field">First Name:</span>
      <span class="value">{{firstName}}</span>
      <span class="field">Last Name:</span>
      <span class="value">{{lastName}}</span>
      <span class="field">Date of birth:</span>
      <span class="value">{{dob}}</span>
      <span class="field">Gender:</span>
      <span class="value">{{gender}}</span>
      <span class="field">Star Sign:</span>
      <span class="value">{{starSign}}</span>
      <span class="field">Hobbies:</span>
      <span class="value">{{hobbies}}</span>
      <span class="field">Looking for:</span>
      <span class="value">{{lookingFor}}</span>
    </div>
  </div>
</div>

