{{>nav}}
<div class="form-container">
  <form class="form" action="/profile/{{_id}}/edit" method="POST" enctype="multipart/form-data">
    <h1 class="heading">{{username}}</h1>
    <input class="input" type="text" name="firstName" placeholder="First Name" value="{{firstName}}">
    <input class="input" type="text" name="lastName" placeholder ="Last Name" value="{{lastName}}">
    <label class="label">Image:
      <input type="file" name="imageUrl" />
    </label>
    <label class="label">Gender:
    <select class="input" name ="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="trans-male">Trans Male</option>
        <option value="trans-female">Trans Female</option>
        <option value="gender-fluid">Gender Fluid</option>
        <option value="non-binary">Non-binary</option>
    </select>
    <label class="label">Date of Birth:
    <input class="input" type="date" name="dob" />
    </label>
    <label class="label">Zodiac Sign:
    <select class="input" name="starSign">
        <option value="capricorn">Capricorn</option>
        <option value="libra">Libra</option>
        <option value="sagitarius">Saggitarius</option>
        <option value="taurus">Taurus</option>
        <option value="virgo">Virgo</option>
        <option value="leo">Leo</option>
        <option value="pisces">Pisces</option>
        <option value="aquarius">Aquarius</option>
        <option value="scorpio">Scorpio</option>
        <option value="aries">Aries</option>
        <option value="gemini">Gemini</option>
        <option value="cancer">Cancer</option>
    </select>
    </label>
    <label class="label">Hobbies:
      <input class="input" type="text" name="hobbies" placeholder="Hobbies" value="{{hobbies}}">
    </label>
    <label class="label">Looking for:
      <select class="input" name ="lookingFor">
        <option value="relationship">Relationship</option>
        <option value="friendship">Friendship</option>
        <option value="meetingNewPeople">Meeting New People</option>
        <option value="fun">Fun</option>
      </select>
    </label>
    <div class="button-group">
      <button class="button" type="submit">Save Changes</button>
      <form action="/profile/{{_id}}/delete" method="POST">
        <button class="secondary-button" type="submit">Delete Profile</button>
      </form>
    </div>
  </form>
</div>