

<div class="content">
  <div class="card">
    <div class="user-header">
      <img class="avatar" src={{imageUrl}}>
    </div>
    <div class="table">
      <span class="field">Event: </span>
      <span class="value">{{description}}</span>
       <span class="field">Date: </span>
      <span class="value">{{date}}</span>
      <span class="field">Location: </span>
      <span class="value">{{location}}</span>
      <span class="field">Attendees: </span>
      <span class="value">{{#each usernames}}{{this}} {{/each}}</span>
       <span class="field">Organizer: </span>
      <span class="value">{{organizerName}}</span>


      {{#if comparisonResult}}
      <form action="/event/{{_id}}/delete" method="POST">
        <button type="submit">Delete event</button>
      </form>


      <form action="/event/{{_id}}/eventUpdate" method="GET">
        <button type="submit">Edit event</button>
      </form>
      {{/if}}

      <form method="POST" action="/event/{{_id}}/subscribeUser/{{currentUserId}}">
        <button class="log-in">Join</button>
      </form>
    </div>
  </div>
</div>




