

<div class="content">
  <div class="card">
    <div class="user-header">
      <img class="avatar" src={{imageUrl}}>
      <h1 {{description}}></h1>
    </div>
    <div class="table">

      <span class="value">{{date}}</span>
      <span class="value">{{location}}</span>
      <span class="value">Attendees: {{#each usernames}}{{this}} {{/each}}</span>
      <span class="value">Organizer:{{organizerName}}</span>


      {{#if comparisonResult}}
      <form action="/event/{{_id}}/delete" method="POST">
        <button type="submit">Delete event</button>
      </form>


      <form action="/event/{{_id}}/eventUpdate" method="GET">
        <button type="submit">Edit event</button>
      </form>
      {{/if}}

      <form method="POST" action="/event/{{_id}}/subscribeUser/{{currentUserId}}">
        <button>Join event</button>
      </form>
    </div>
  </div>
</div>




