
<div class="container-fluid events">
    <div class="row">
        <div class="col-12 card">
            <div class="card product">
                <div class="card-body">
                    <h1 class="card-title">{{description}}</h1>
                    <h1 class="card-body">{{location}}</h1>
                    <h1>{{date}}</h1>
                    <a href="/event/{{_id}}">View Event</a>
                </div>
            </div>
        </div>
    </div>
</div>





<p>{{date}}{{description}}{{location}}</p>
<p>Attendees: {{#each usernames}}{{this}} {{/each}}</p>

<form action="/event/{{_id}}/delete" method="POST">
<button type="submit">Delete event</button>
</form>

<a href="/event/{{_id}}/edit">Edit event</a>


<form method="POST" action="/event/{{_id}}/subscribeUser/{{currentUserId}}">
<button>Join event</button></form>
